// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

$total-height: 660px;
$player-height: 300px;
$icon-font-path: 'bootstrap/';
th, td {
  border: 1px solid #aaa;
  padding: 5px;
}

table {
  border-collapse: collapse;
}

.alert {
  margin: 0;
}

#field {
  height: 100%;
}

#maincontainer {
  background-color: $gray-900;
  position: relative;
}

.primary {
  @include make-col(10.5);
}

.secondary {
  @include make-col(1.5);
  .card {
    margin: 10px auto;
    float: none;
  }
}

.side {
  height: 100%;
  background-color: $gray-500;
}

.main {
  height: 100%;
  background-color: lighten(blue, 20%);
}

#common {
  height: $total-height - $player-height * 2;
  >div {
    height: inherit;
  }
}

#player, #opponent {
  height: $player-height;
}

.hand {
  height: 180px;
}

.action {
  height: 120px;
}

.card {
  background-color: BurlyWood;
  margin: 10px;
  float: left;
  border: 1px solid grey;
  padding: 5px;
  text-align: center;
  &.selected {
    border: 6px solid grey;
    padding: 0;
  }

  &.metal {
    background-color: white;
  }

  &.tree {
    background-color: green;
  }

  &.water {
    background-color: black;
    color: white;
  }

  &.fire {
    background-color: red;
  }

  &.earth {
    background-color: yellow;
  }
}

.card-lg {
  width: 120px;
  height: 160px;
  font-size: 3em;
}

.card-sm {
  width: 75px;
  height: 100px;
  font-size: 2em;
}

.used .card {
  margin: 10px -10px;
}

.life {
  font-size: 5em;
  color: red;
  text-align: center;
}

.shield {
  font-size: 48px;
  color: blue;
  text-align: center;
}

#field {
  text-align: center;
}

.hero {
  text-align: center;
}

.modal, .modal-backdrop {
  position: absolute !important;
}

.modal-body {
  overflow-y: auto;
  padding: 15px;
}

.star {
  margin: 0px auto;
  text-align: center;
  &.venus {
    color: white;
  }

  &.jupiter {
    color: green;
  }

  &.mercury {
    color: black;
  }

  &.mars {
    color: red;
  }

  &.saturn {
    color: yellow;
  }

  &.nothing {
    color: grey;
  }
}

.current_star {
  font-size: 48px;
}

.star_history {
  font-size: 28px;
  .star {
    @include make-col(2.4);
    padding: 0px;
    float: left;
  }
}
